src/main/resources/esquema.wsdl

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://registro.uv.mx/registro" xmlns:tns="https://registro.uv.mx/registro" elementFormDefault="qualified">
  
  <xs:element name="AddRegistroRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aula" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="fecha" type="xs:string" />
        <xs:element name="hora" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BuscarRegistroRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aula" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BuscarRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="registro" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="aula" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="fecha" type="xs:string"/>
            <xs:element name="hora" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MostrarRegistrosRequest">
  </xs:element>

  <xs:element name="MostrarRegistrosResponse" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="registro" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="aula" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="fecha" type="xs:string"/>
            <xs:element name="hora" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EliminarRegistroRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EliminarRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- <xs:element name="ModificarRegistroRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posicion" type="xs:int" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element> -->
</xs:schema>